// #9E8E8E -- milk tea
// #FFFFFF -- white. just whaite
// #EBEBEB -- cup in the shade
// #7E9E87 -- leafy green
// #595959 -- black tea w/ milk


header {
  background-color: #7E9E87;
  opacity: 0.8;
  text-align: left;
  padding: 20px 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  

  a {
    color: #fff;
    transition: color 0.3s ease;

    &:hover {
      color: darken(#fff, 20%)
    }
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      padding: 0px 10px;
    }
  }
}

@media screen and (max-width: 530px) {
  header {
    a {
      display: block;
      margin: 0;
      padding: 0;
    }
  }
}