@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

body {
  margin: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: 2px 1px white;
}

h1 {
  color:dodgerblue;
}

/* .fadeIn {
  margin: 0;
  position: absolute;
  color: dodgerblue;
  top: 40%;
  left: 25%;
  animation: ease-in 2s;
} */

button {
  border-radius: 10px;
  border: solid 2px dodgerblue;
  color: dodgerblue
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  padding: 10px;
}

.homePage {
  flex-direction: column;
}

.col-xs-12, .col-sm-6, .col-md-4, .col-lg-3 {
  padding: 0;
  margin: 0;
}

.TeaCard, .BenefitCard, .UserBenefitCard {
  width: 95%;
  font-size: 1em;
  margin: 5px;
  padding: 5px;
  padding-right: 10px;
  background: rgba(209, 209, 209, 0.8);
  border: solid 2px dodgerblue;
  border-radius: 10px;
  align-items: stretch;
}

.BenefitCard, .UserBenefitCard {
  font-size: 1.25em;
}

.TeaCard  {
  text-align: left;
  padding-left: 5%;
}

.TeaCard > h3 {
  color: dodgerblue;
}

@media only screen and (max-width: 1050px) {
  body {
    font-size: 1em;
  }

  .TeaCard, .BenefitCard, .UserBenefitCard {
    padding: 1px;
    align-items: stretch;
  }
}

@media only screen and (max0width: 530px) {
  body {
    font-size: .75em;
  }

  .h3 {
    font-size: 1.25em;
  }
}