@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

body {
  margin: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  text-shadow: 2px 1px black;
}

button {
  border-radius: 10px;
  border: solid 2px dodgerblue;
  color: dodgerblue
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.col-4 {
  padding: 0;
}

.TeaCard, .BenefitCard {
  width: 95%;
  font-size: 1.5em;
  margin: 5px;
  padding: 5px;
  padding-right: 10px;
  background: rgba(209, 209, 209, 0.8);
  border: solid 2px dodgerblue;
  border-radius: 10px;
  align-items: stretch;
  
}

.TeaCard  {
  text-align: left;
  padding-left: 5%;
}

.TeaCard > h3 {
  color: dodgerblue;
}

.TeaCard > form {
  text-align: center;

}